body {
  background-color: black;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
display: flex;
justify-content: center; 
}

.navbar_links {
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style: none;
}

.nav_item > a {
display: flex;
padding: 0.5em;
border-radius: 1em;
text-decoration: none;
color: #6c6e72;  
}

.material-symbols-outlined {
padding-right: 0.2em;
}

.nav_item > a.active, .nav_item > a:hover {
background: ghostwhite;
transition: .4s;
}
