body {
  background-color: #010409;
  color: #6c6e72;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
display: flex;
justify-content: center; 
}

.navbar_links {
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style: none;
}

.nav_item > a {
display: flex;
padding: 0.5em;
border-radius: 1em;
text-decoration: none;
color: #6c6e72;  
}

.material-symbols-outlined {
padding-right: 0.2em;
}

.nav_item > a.active, .nav_item > a:hover {
background: ghostwhite;
transition: .4s;
}

.text-body-secondary {
  color: rgb(187, 202, 214);
}

#pinned-repo-form {
  max-width: 50%;
  color:#6c6e72; 
}

/* PROFILE CSS */
#main-content {
  margin: 0.5em auto 0;
  padding: 0 2em;
}

.card {
  background-color: #010409;
  color: #6c6e72;
}

#card-header {
	padding: 0;
}

#full-name {
  font-size: 1.5rem;
}

#username {
  font-size: 1.25rem;
}

.card-title {
  padding: 1em 0;
}

#profile-pic {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

#follow-count {
  order: 1;
  margin-top: 0;
  gap: 0.5em;
}

#follow-style {
  margin-bottom: 0.75em;
}

.follow {
  white-space: nowrap;
  text-decoration: none;
  color: #6c6e72;
}

.follow:hover {
  color: rgb(42, 42, 219);
}

/* .card-text {

} */

#social-info {
  list-style: none;
  padding: 0;
}

.h1-sm {
  font-size: 1.5rem;
  margin: 0 0 0.5em 0;
}

#sponsor {
  border-top: 1px solid #6c6e72;
  padding: 0.5em 0 0 0;
  margin: 0.5em 0 0 0;
}

#organization {
  border-top: 1px solid #6c6e72;
  padding: 0.5em 0 0 0;
  margin: 0.5em 0 0 0;
}
