body {
  background-color: #010409;
  color: #6c6e72;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
display: flex;
justify-content: center; 
}

.navbar_links {
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style: none;
}

.nav_item > a {
display: flex;
padding: 0.5em;
border-radius: 1em;
text-decoration: none;
color: #6c6e72;  
}

.material-symbols-outlined {
padding-right: 0.2em;
}

.nav_item > a.active, .nav_item > a:hover {
background: ghostwhite;
transition: .4s;
}

.text-body-secondary {
  color: rgb(205, 214, 221);
}

/* PROFILE CSS */
#main-content {
  margin: 0.5em auto 0;
  padding: 0 2em;
}

.card {
  background-color: #010409;
  color: #6c6e72;
}

#card-header {
	padding: 0;
}

#full-name {
  font-size: 1.5rem;
}

#username {
  font-size: 1.25rem;
}

.card-title {
  padding: 1em 0;
}

#profile-pic {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

#follow-count {
  order: 1;
  margin-top: 0;
  gap: 0.5em;
}

#follow-style {
  margin-bottom: 0.75em;
}

.follow {
  white-space: nowrap;
  text-decoration: none;
  color: #6c6e72;
}

.follow:hover {
  color: rgb(42, 42, 219);
}

/* .card-text {

} */

#social-info {
  list-style: none;
  padding: 0;
}

.h1-sm {
  font-size: 1.5rem;
  margin: 0 0 0.5em 0;
}

#sponsor {
  border-top: 1px solid #6c6e72;
  padding: 0.5em 0 0 0;
  margin: 0.5em 0 0 0;
}

#organization {
  border-top: 1px solid #6c6e72;
  padding: 0.5em 0 0 0;
  margin: 0.5em 0 0 0;
}
#package-container {
  display: flex;
  flex-wrap: wrap;
}

#package-card {
  display:flex; 
  border: 1px solid #6c6e72;
  margin:  0.625em;
  padding: 0.3125em;
  max-width:15em;
  max-height: 12.3125em;
}

p.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  min-height:65px ;
  font-size: smaller;
}

#package-card > .card-body > h5 > img {
  height: 2.1875em;
  width: 2.1875em;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.4375em;
}
#package-card > .card-body > h5{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

h5.card-title{
  padding: 0;
}

#package-card > .card-body >.btn-sm {
  background-color: #1e2329;
  border: 1px solid #6c6e72;
  color:#cacdd3;
}

#package-form-container {
  margin: 0px 0.625em;
  border-color: #6c6e72;
}

#package-form > div > input {
background-color: #010409;
border-color: #6c6e72;
}

#package-form > div > textarea {
  background-color: #010409;
  border-color: #6c6e72;
}

#package-form > input {
  background-color: #010409;
  border-color: #6c6e72; 
}

#package-form ::placeholder{
color: #6c6e72;
}

#package-form > div > button {
background-color: #010409;
border: 1px solid #6c6e72;
color: #6c6e72;
margin-top: 0.3125em;
}
